@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
  /* ─── Tipografía ─── */
  --font-primary: 'Newsreader', serif;
  --font-secondary: 'Roboto', sans-serif;

  /* ─── Colores Principales ─── */
  --primary-color-1: #10062C;
  --primary-color-2: #120436;
  --primary-color-3: #160546;
  --primary-color-4: #23096B;
  --primary-color-5: #2F0B91;
  --button-color-1: #a80000;
  --button-color-2: #810c0c;

  /* ─── Otros ─── */
  --text-color: #ffffff; /* Texto blanco */
  --bg-color: var(--primary-color-1); /* Fondo base */
}

/* ─── RESETEO GLOBAL ─── */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-secondary);
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
}

/* ─── TIPOGRAFÍA ─── */
h1, h2, h3 {
  font-family: var(--font-secondary);
}

a {
  text-decoration: none;
  color: var(--primary-color-5);
}

button {
  background-color: var(--button-color-1);
  color: white;
  border: none;
  border-radius: 6%;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 0.3s;
}

button:active {
  transform: scale(0.98); 
  background-color: var(--button-color-2);
}

